{% extends 'layout.html'%}
{%block content%}
<!-- Slider -->
  <div class="carousel carousel-slider center">
    <div class="carousel-fixed-item center">
      <a class="btn waves-effect black grey-text darken-text-2">Learn More</a>
    </div>
    <div class="carousel-item indigo white-text" href="#one!">
      <h2>Join Hands to make Strength</h2>
      <br>
      <p class="white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullam ariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="carousel-item deep-purple darken-4 white-text" href="#two!">
      <h2>Books are a Real Weapons because it helps to train Brain</h2><br>
      <p class="white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="carousel-item red darken-3 white-text" href="#three!">
      <h2>Python Rocks </h2><br>
      <p class="white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="carousel-item purple darken-4 white-text" href="#four!">
      <h2>Lets to Build Something</h2><br>
      <p class="white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
 

 <!-- Cards -->
 <div class="center">
  {% if session.logged_in %}
  <p>Logged in as {{session.user}}</p>
  {%else%}
  <p>You are not still logged in, Lets join</p>
  {%endif%}
  </div>
  <h6 class="center">Recent Posts</h6>
  {%for post in posts%}
<div class="center">
<ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div id="title" class="collapsible-header"><i class="material-icons">description</i> <h6>{{post['title']}}</h6></div>
      <div class="collapsible-body"><h3>{{post['title']}}</h3>

        <span>{{post['author']}}</span><span>{{post['date']}}</span>

      </p><span>{{post['content']}}</span></div>
    </li>
    <!-- <li>
      <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li> -->
  </ul>
 </div>
 </div> 
  <!-- <div class="col s9 m7">
    <h2 class="header center">{{post['title']}}</h2>
    <div class="card horizontal">
      </div>
      <div class="card-stacked">
        <div class="card-content center">
          <p>{{post['content']}}</p>
        </div>
        <div class="card-action center">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div> -->
  {%endfor%}
  
   {% endblock content%}
  

{%block Minit%}
<!-- Collapsible Initialization -->
<script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function() {
    var collaps = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(collaps, {});
  });
  </script>
<style type="text/css">
  .collapsible{
    margin: 0;

  }
 #title h6{
  margin-left:3%;
 }
</style>
	<script type="text/javascript">
		M.AutoInit();
	</script>
{%endblock Minit%}